<div class="row">
  <aside class="col-md-4"></aside>
  <div class="col-md-1">
    <%= comment.user.user_name %>
  </div>
  <div class="col-md-3">
    <%= comment.content %>
  </div>
  <% if comment.user == current_user %>
    <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are You Sure?" } do %>
      <span class="glyphicon glyphicon-remove delete-comment"></span>
    <% end %>
  <% end %>
  <aside class="col-md-4"></aside>
</div>
