<%= simple_form_for @post, html: {class: 'form-horizontal', multipart: true} do |f| %>
  <div class='left-margin form-group'>
    <%= f.input :image, class: 'form-control' %>
  </div>
  <div class='text-center form-group'>
    <%= f.input :caption, class: 'form-control' %>
    <%= f.button :submit, class: 'btn-success'%>
  </div>
<% end %> 