<%= simple_form_for @post, html: {class: 'form-horizontal', multipart: true} do |f| %>
  <div class='left-margin'>
    <%= f.input :image %>
  </div>
  <div class='text-center'>
    <%= f.input :caption %>
    <%= f.button :submit, class: 'btn-success'%>
  </div>
<% end %> 