<div class="liked row">
  <aside class="col-md-3"></aside>
  <div class="col-md-6">
    <%= link_to '', liked_post_path(post.id), remote: true, id: "like_#{post.id}", class:"glyphicon #{liked_post post}", style:"color:red; text-decoration:none" %>
    <span id="likes_<%=post.id%>">
      <%= display_likes post %>
    </span>
  </div>

  <aside class="col-md-3"></aside>
</div>