// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/
.left-margin {
	margin-left: 5%;
}
.caption {
	text-align: center;
	font-size: 2em;
}
.name {
	text-align: center;
}
.time-ago {
	padding-top: 2%;
}